@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: FigTree, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #e99518;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@keyframes cursorRingExpand {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.cursor-ring {
  width: 30px;
  height: 30px;
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 100%;
  border: 2.5px solid #f5b700;
  visibility: visible;
  animation: cursorRingExpand 0.5s forwards;
}

.gallery {

}

.gallery-item {
  
}






/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1s ease 1s forwards;
} */





