@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: FigTree, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #e99518;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@keyframes cursorRingExpand {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.cursor-ring {
  width: 30px;
  height: 30px;
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 100%;
  border: 2.5px solid #f5b700;
  visibility: visible;
  animation: cursorRingExpand 0.5s forwards;
}

.breakdown h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #000
}

.breakdown h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #111
}

.breakdown p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.breakdown a {
  color: #e99518;
  text-decoration: underline;
}


.breakdown > .callout {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-left: 0.25rem #e99518 solid;
  background-color: #f2f2f2;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.breakdown ul {
  list-style-type: disc;
  padding-left: 2.5rem;
  margin-bottom: 0.75rem;
}

.breakdown figure {
  object-fit: cover;
  margin: 1.5rem 0;
  border-radius: 0.375rem;
}

.breakdown img {
  width: 100%;
  margin-bottom: 0.75rem;
}

.breakdown figcaption {
  font-size: 1.125rem;
  color: #1E1E1E;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.breakdown ol {
  list-style-type: lower-roman;
  padding-left: 2.5rem;
  margin-bottom: 0.75rem;
}

.breakdown li {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.breakdown .video {
  width: 100%;
  height: 50vh;
}



/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1s ease 1s forwards;
} */





